.mat-table {
  width: 900px;
}

mat-cell,
mat-footer-cell,
mat-header-cell {
  width: 200px;
  flex: none;
  justify-content: center;
}

.mat-table mat-cell:first-child {
  padding-left: 0px;
  border-left: 1px solid;
}

.mat-table mat-cell:last-child {
  padding-right: 0px;
}

.mat-table mat-header-cell:first-child {
  padding-left: 0px;
  border-left: 1px solid;
}

.mat-table mat-header-cell:last-child {
  padding-right: 0px;
}

.mat-table mat-header-cell {
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  cursor: col-resize;
}

.mat-table mat-cell {
  border-right: 1px solid;
  border-bottom: 1px solid;
}


thead tr th {
  position: relative;
}
span.ui-column-resizer {
  z-index: 200;
  background-color: aqua;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  width: 20px;
  height: 100%;
  padding: 0;
  cursor: col-resize;
  border: 1px solid transparent;
}